doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="/styles/post.css", rel="stylesheet")
  body
    .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      article
        if !data.post
          h2 Invalid Post.
        else
          header(style="background: #000 url(" + data.post.image.url + ") left top no-repeat;background-size:cover;")
            h1= data.post.title
            if data.post.publishedDate
              h5 #{data.post._.publishedDate.format('YYYY-MM-DD')}
          .post
            != data.post.content.full
